In [ ]:
import pandas as pd
from evaluation_tools import get_metrics, print_metrics


# random is a randomly sampled distribution, not compressed.
def datagetter_opensub(lang1, lang2, split="test", comp="random"):
    return pd.read_csv(
        f"data/opensubtitles/compressed/{lang1}-{lang2}-{comp}.{split}.csv"
    )


metrics, translations = get_metrics(
    languages=["fr", "lt", "hu", "pl"],
    datagetter=datagetter_opensub,
    device="cuda:0"
)

In [3]:
for lang, metric in metrics.items():
    print_metrics(lang, metric)

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,22.86,0.51,0.32,0.50,49.51,48.01,0.52,0.83,1.35,0.87
0.5,16.88,0.45,0.26,0.44,35.37,34.48,0.40,0.81,0.77,0.00
0.6,22.09,0.49,0.30,0.48,41.13,40.11,0.45,0.83,0.89,0.42
0.7,25.20,0.52,0.32,0.51,45.16,43.99,0.49,0.84,1.00,0.71
0.8,26.84,0.53,0.34,0.52,47.86,46.63,0.52,0.84,1.10,0.89
0.9,26.63,0.54,0.35,0.53,49.67,48.36,0.53,0.85,1.16,0.99
1.0,25.55,0.54,0.35,0.53,50.05,48.74,0.54,0.84,1.21,1.00

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,16.93,0.38,0.24,0.37,36.67,35.56,0.39,0.61,1.35,0.00
0.5,21.92,0.58,0.34,0.57,45.94,44.78,0.52,1.05,0.77,0.65
0.6,24.82,0.55,0.34,0.54,46.21,45.07,0.51,0.93,0.89,0.97
0.7,25.20,0.52,0.32,0.51,45.16,43.99,0.49,0.84,1.00,1.00
0.8,24.40,0.48,0.31,0.47,43.51,42.39,0.47,0.76,1.10,0.88
0.9,22.96,0.47,0.30,0.46,42.82,41.69,0.46,0.73,1.16,0.82
1.0,21.12,0.45,0.29,0.44,41.36,40.28,0.45,0.69,1.21,0.65

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,13.98,0.44,0.21,0.43,43.59,41.72,0.45,0.79,1.45,0.74
0.5,13.10,0.39,0.17,0.38,32.72,31.52,0.36,0.80,0.79,0.00
0.6,15.74,0.43,0.20,0.42,37.12,35.86,0.40,0.81,0.89,0.38
0.7,16.96,0.44,0.21,0.44,39.93,38.57,0.43,0.82,0.97,0.59
0.8,18.54,0.46,0.23,0.45,42.42,40.91,0.45,0.82,1.07,0.80
0.9,19.61,0.48,0.25,0.47,44.75,43.19,0.47,0.83,1.12,1.00
1.0,19.48,0.47,0.24,0.46,45.24,43.63,0.48,0.83,1.17,0.99

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,9.64,0.30,0.14,0.30,30.06,28.77,0.31,0.54,1.45,0.00
0.5,16.58,0.49,0.22,0.48,41.42,39.90,0.46,1.01,0.79,0.75
0.6,17.69,0.48,0.22,0.47,41.71,40.29,0.45,0.91,0.89,0.94
0.7,17.48,0.45,0.22,0.45,41.16,39.76,0.44,0.85,0.97,0.96
0.8,17.33,0.43,0.21,0.42,39.64,38.23,0.42,0.77,1.07,0.90
0.9,17.51,0.43,0.22,0.42,39.96,38.56,0.42,0.74,1.12,1.00
1.0,16.65,0.40,0.21,0.39,38.67,37.29,0.41,0.71,1.17,0.86

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,18.93,0.52,0.32,0.51,46.97,45.41,0.48,0.81,1.33,0.92
0.5,13.07,0.45,0.24,0.44,31.54,30.73,0.37,0.80,0.69,0.00
0.6,17.52,0.49,0.28,0.48,37.50,36.52,0.41,0.81,0.82,0.39
0.7,20.70,0.52,0.30,0.50,42.04,40.85,0.45,0.83,0.92,0.68
0.8,24.31,0.53,0.32,0.52,45.12,43.99,0.48,0.83,1.01,0.91
0.9,23.93,0.54,0.33,0.52,46.49,45.26,0.50,0.84,1.07,0.99
1.0,22.95,0.54,0.33,0.52,47.17,45.86,0.50,0.84,1.12,1.00

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,14.23,0.39,0.24,0.38,35.32,34.14,0.36,0.61,1.33,0.00
0.5,18.94,0.65,0.35,0.64,45.71,44.54,0.54,1.16,0.69,0.74
0.6,21.37,0.60,0.34,0.59,45.73,44.54,0.50,0.99,0.82,0.91
0.7,22.50,0.57,0.33,0.54,45.70,44.40,0.49,0.90,0.92,0.99
0.8,24.07,0.52,0.32,0.51,44.67,43.55,0.48,0.82,1.01,1.00
0.9,22.36,0.50,0.31,0.49,43.45,42.30,0.47,0.79,1.07,0.90
1.0,20.49,0.48,0.29,0.46,42.12,40.95,0.45,0.75,1.12,0.71

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,5.43,0.36,0.19,0.35,33.98,33.04,0.38,0.78,2.47,0.00
0.5,16.80,0.44,0.23,0.43,36.33,35.41,0.40,0.81,0.90,0.28
0.6,20.03,0.47,0.25,0.45,39.84,38.87,0.43,0.82,0.99,0.60
0.7,22.44,0.49,0.27,0.47,42.46,41.48,0.46,0.83,1.06,0.87
0.8,22.89,0.49,0.27,0.48,43.48,42.42,0.47,0.83,1.11,0.94
0.9,22.22,0.49,0.28,0.48,44.73,43.62,0.48,0.84,1.16,1.00
1.0,21.68,0.49,0.27,0.48,44.58,43.44,0.48,0.83,1.19,0.96

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,2.20,0.15,0.08,0.14,13.76,13.38,0.15,0.32,2.47,0.00
0.5,18.67,0.49,0.26,0.48,40.37,39.34,0.44,0.90,0.90,0.92
0.6,20.23,0.47,0.25,0.45,40.24,39.26,0.43,0.83,0.99,0.96
0.7,21.17,0.46,0.25,0.44,40.06,39.13,0.43,0.78,1.06,1.00
0.8,20.62,0.44,0.24,0.43,39.17,38.22,0.42,0.75,1.11,0.97
0.9,19.16,0.42,0.24,0.41,38.56,37.60,0.41,0.72,1.16,0.93
1.0,18.22,0.41,0.23,0.40,37.46,36.50,0.40,0.70,1.19,0.89