In [ ]:
import pandas as pd
from evaluation_tools import get_metrics, print_metrics


def datagetter_europarl(lang1, lang2):
    return pd.read_csv(f"data/europarl/{lang1}-{lang2}.csv")


metrics, translations = get_metrics(
    languages=["fr", "lt", "hu", "pl"],
    datagetter=datagetter_europarl,
    device="cuda:1"
)

In [3]:
for lang, metric in metrics.items():
    print_metrics(lang, metric)

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,38.81,0.67,0.49,0.64,66.20,63.65,0.64,0.88,1.08,1.00
0.5,28.95,0.58,0.42,0.55,52.94,50.80,0.48,0.85,0.75,0.00
0.6,32.62,0.62,0.44,0.58,56.93,54.69,0.54,0.86,0.84,0.33
0.7,36.46,0.65,0.47,0.62,61.34,58.95,0.59,0.88,0.93,0.68
0.8,38.19,0.66,0.48,0.63,63.19,60.78,0.61,0.88,0.98,0.82
0.9,39.09,0.67,0.49,0.63,64.53,62.08,0.62,0.88,1.01,0.91
1.0,38.63,0.67,0.49,0.63,64.82,62.32,0.63,0.88,1.03,0.93

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,35.94,0.62,0.45,0.59,61.30,58.94,0.59,0.81,1.08,0.08
0.5,38.60,0.77,0.56,0.73,70.59,67.73,0.64,1.13,0.75,0.00
0.6,38.83,0.74,0.52,0.69,67.77,65.11,0.64,1.02,0.84,0.42
0.7,39.20,0.70,0.51,0.67,65.96,63.39,0.63,0.95,0.93,1.00
0.8,38.97,0.67,0.49,0.64,64.48,62.02,0.62,0.90,0.98,0.85
0.9,38.70,0.66,0.49,0.62,63.89,61.47,0.61,0.87,1.01,0.82
1.0,37.50,0.65,0.48,0.61,62.93,60.50,0.61,0.85,1.03,0.56

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,32.52,0.61,0.40,0.58,64.43,61.15,0.59,0.87,1.05,1.00
0.5,29.07,0.56,0.36,0.52,58.38,55.20,0.51,0.85,0.88,0.06
0.6,28.08,0.56,0.36,0.53,57.07,54.01,0.51,0.85,0.87,0.00
0.7,28.74,0.57,0.37,0.54,58.55,55.42,0.53,0.85,0.90,0.19
0.8,29.43,0.59,0.38,0.55,59.79,56.58,0.54,0.86,0.94,0.40
0.9,30.37,0.59,0.38,0.55,61.09,57.79,0.56,0.86,0.98,0.55
1.0,30.83,0.59,0.38,0.56,62.00,58.66,0.57,0.86,1.00,0.65

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,30.97,0.58,0.38,0.55,61.36,58.24,0.56,0.83,1.05,1.00
0.5,33.03,0.64,0.41,0.59,66.34,62.73,0.58,0.97,0.88,0.13
0.6,32.28,0.64,0.41,0.61,65.60,62.08,0.59,0.98,0.87,0.00
0.7,31.93,0.63,0.41,0.60,65.06,61.58,0.59,0.94,0.90,0.28
0.8,31.31,0.63,0.40,0.59,63.61,60.19,0.57,0.91,0.94,0.47
0.9,30.99,0.60,0.39,0.56,62.34,58.97,0.57,0.88,0.98,0.42
1.0,30.83,0.59,0.38,0.56,62.00,58.66,0.57,0.86,1.00,0.49

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,33.98,0.69,0.50,0.63,64.60,61.50,0.61,0.88,1.04,1.00
0.5,20.80,0.56,0.40,0.52,46.55,44.31,0.43,0.83,0.65,0.00
0.6,26.69,0.62,0.44,0.57,54.97,52.20,0.51,0.85,0.80,0.44
0.7,29.83,0.65,0.47,0.60,58.67,55.82,0.55,0.87,0.88,0.67
0.8,31.47,0.67,0.48,0.61,60.86,57.92,0.57,0.87,0.93,0.79
0.9,33.40,0.68,0.49,0.62,62.24,59.37,0.59,0.88,0.96,0.89
1.0,33.50,0.68,0.49,0.62,62.97,59.96,0.60,0.88,0.99,0.92

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,32.67,0.66,0.48,0.61,62.12,59.13,0.59,0.85,1.04,0.00
0.5,32.00,0.86,0.62,0.80,71.62,68.17,0.66,1.28,0.65,0.03
0.6,33.36,0.77,0.55,0.71,68.71,65.25,0.64,1.06,0.80,0.55
0.7,33.90,0.74,0.53,0.68,66.67,63.43,0.62,0.99,0.88,0.79
0.8,33.84,0.72,0.52,0.66,65.44,62.28,0.61,0.94,0.93,0.75
0.9,34.79,0.71,0.51,0.65,64.83,61.84,0.61,0.92,0.96,1.00
1.0,33.84,0.69,0.49,0.63,63.61,60.57,0.61,0.89,0.99,0.49

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,12.96,0.44,0.24,0.41,49.56,46.21,0.44,0.80,1.53,0.00
0.5,26.26,0.55,0.35,0.52,53.83,51.02,0.50,0.85,0.87,0.63
0.6,26.41,0.56,0.35,0.53,54.49,51.64,0.51,0.86,0.89,0.69
0.7,27.72,0.58,0.36,0.54,56.79,53.80,0.53,0.86,0.93,0.85
0.8,28.28,0.58,0.36,0.54,57.31,54.33,0.53,0.86,0.95,0.88
0.9,28.57,0.58,0.36,0.54,57.71,54.71,0.54,0.87,0.96,0.92
1.0,29.12,0.59,0.37,0.55,58.28,55.26,0.55,0.87,0.98,1.00

,bleu,r1,r2,rl,chrF,chrf++,meteor,bert_f1,len_ratio,normalized_score
baseline,8.47,0.29,0.16,0.27,32.39,30.20,0.29,0.52,1.53,0.00
0.5,30.18,0.63,0.40,0.60,61.87,58.64,0.57,0.98,0.87,0.99
0.6,29.67,0.63,0.39,0.60,61.22,58.02,0.57,0.97,0.89,0.99
0.7,29.81,0.62,0.39,0.58,61.06,57.85,0.57,0.92,0.93,1.00
0.8,29.77,0.61,0.38,0.57,60.33,57.19,0.56,0.91,0.95,0.98
0.9,29.76,0.60,0.38,0.56,60.11,56.99,0.56,0.91,0.96,0.98
1.0,29.71,0.60,0.38,0.56,59.47,56.39,0.56,0.89,0.98,0.99

In [ ]:
translations